#dashboard {
    width: 100vw;
    height: 100vh;
}

#dashboard .content {
    width: 100%;

    display: flex;
}

#dashboard .content main {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 40px 0;
}